{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="text-center">
    <h1>{{ exercise.name }}</h1>
    <h4>{{ exercise.subtitle }}</h4>
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <p>{{ exercise.description }}</p>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<script>
    const webcamElement = document.getElementById('webcam');
    const webcam = new Webcam(webcamElement, 'user');
    webcam.start()
    .then(result =>{
        console.log("webcam started");
    })
    .catch(err => {
        console.log(err);
    });
</script>
{% endblock javascripts %}
